.About-content{
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    background-color: #fdf7ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(53, 53, 53);
}
.Bg-image{
    position: absolute;
}
.Welcome-title{
    margin-top: 15vh;
    border-bottom: 2px solid #ffbf40;
    font-size: 3rem;
    font-weight: 700;
}
.Welcome-content{
    margin-top: 10vh;
}
.Welcome-img{
    width: 35vw;
    filter: drop-shadow(0px 5px 15px rgba(0,0,0,0.2));
}
.Back-content{
    position: absolute;
    left: -20vw;
    top: 105vh;
}
.Back-img{
    width: 50vw;
    transform: rotate(-9deg);
    animation: float 4s ease-in-out infinite alternate;
}

@keyframes float {
    from { 
        transform: translateY(0px); 
    }
    to{ 
        transform: translateY(20px); 
    }
}
.Text-content{
    width: 40vw;
    display: flex;
    align-items: center;
    justify-items: center;
}
.Text-about{
    position: relative;
    text-align: center;
    margin: 2rem auto;
    line-height: 1.8;
    font-size: 1.2rem;
}
@media (min-width: 940px) and (max-width: 1065px){
    .Welcome-title{
        font-size: 2.5rem;
    }
    .Welcome-img{
        width: 30vw;
    }
    .Back-img{
        width: 45vw;
    }
    .Text-content{
        width: 35vw;
    }
    .Text-about{
        font-size: 1rem;
    }
}