.Home-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
    overflow-y: visible;
    overflow-x: hidden;
    padding-bottom: 2rem;
    margin-top: 12vh;
    background: #6320EE;
    background: linear-gradient(180deg,rgba(99, 32, 238, 1) 5%, rgba(0, 103, 255, 1) 54%, rgba(253, 247, 255, 1) 95%);
}
.Left-content{
    width: calc(100% / 2);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    animation: float 6s ease-in-out infinite alternate;
}

@keyframes float {
    from { 
        transform: translateY(0px); 
    }
    to{ 
        transform: translateY(20px); 
    }
}
.Presentation-one{
    align-items: center;
    justify-content: space-between;
    padding: 0 10vw;
}
.Title-one{
    font-size: 2.5rem;
}
.Text-one{
    line-height: 1.8;
}
.Presentation-two{
    position: absolute;
    left: 0;
    transform: translateX(200%);
}
.Btn-content{
    width: 8vw;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffbf40;
    border-radius: 3vh;
}
.btn-one{
    text-decoration: none;
    color: #fff;
    display: flex;
    font-weight: 600;
}
.Right-content{
    width: calc(100% / 2);
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}
.Bgmobile{
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 1rem;
}
.BgImg{
    z-index: 10;
    width: 21vw;
    height: auto;
    position: absolute;
    top: 46%;
    margin-bottom: 1rem;
}
@media (min-width: 940px) and (max-width: 1065px){
    .Home-content{
        margin-top: 20vh;
    }
    .Title-one{
        font-size: 2.4rem;
    }
    .BgImg{
        top: 40%;
    }
}
@media (max-width: 850px){
    .Home-content{
        margin-top: 5vh;
        flex-direction: column;
        justify-content: flex-start;
        height: 55vh;
    }
    .Title{
        font-size: 2.3vh;
    }
    .Left-content{
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .Presentation-one{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2vh;
    }
    .Btn-content{
        width: 30vw;
        height: 5vh;
        font-size: 1.2rem;
    }
    .Right-content{
        width: 100%;
    }
    .Title-one{
        font-size: 2.2rem;
        text-align: center;
    }
    .Text-one{
        font-size: 1.2rem;
        text-align: justify;
        text-justify: inter-word;
        line-height: 1.6;
        padding: 0 10px;
    }
    .Bgmobile{
        display: none;
    }
    .BgImg{
        display: none;
    }
}