.Service-content{
    height: 100vh;
    width: 100%;
    background: #FDF7FF;
    background: linear-gradient(180deg,rgba(253, 247, 255, 1), rgba(0, 103, 255, 1) 44%, rgba(99, 32, 238, 1) 84%);
    display: flex;
    flex-direction: row;
    color: rgb(53, 53, 53);
    padding-top: 45vh;
}
.Service-title{
    font-size: 2.5rem;
    color: #fdf7ff;
}
.Text-contentS{
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: fit-content;
    align-items: center;
    justify-content: center;
}
.Service-text{
    position: relative;
    text-align: center;
    margin: 1rem auto;
    line-height: 1.8;
    font-size: 1.2rem;
    color: #fdf7ff;
}
.Left-contentT{
    width: calc(100% / 2);
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    animation: float 6s ease-in-out infinite alternate;
    line-height: 1.8;
}
.Right-twoT{
    width: calc(100% / 2);
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: float 6s ease-in-out infinite alternate;
    line-height: 1.8;
}
@keyframes float {
    from { 
        transform: translateY(0px); 
    }
    to{ 
        transform: translateY(20px); 
    }
}
.btn-form{
    width: 10vw;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffbf40;
    border-radius: 3vh;
    border: none;
    color: #FDF7FF;
    font-weight: 700;
}
@media (min-width: 940px) and (max-width: 1065px){
    .Service-title{
        font-size: 2rem;
    }
    .Service-text{
        font-size: 1.1rem;
    }
    .btn-form{
        width: 9vw;
        height: 5vh;
        font-size: 2vh;
        font-weight: 600;
    }
}
@media (max-width: 850px){
    .Service-content{
        padding-top: 2vh;
        flex-direction: column;
        height: 80vh;
    }
    .Left-contentT{
        width: 100%;
        padding-top: 5vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Service-title{
        font-size: 2.2rem;
        text-align: center;
    }
    .Text-contentS{
        width: 100vw;
        padding: 2vh;
        box-sizing: border-box;
    }
    .Service-text{
        font-size: 1.2rem;
        text-align: justify;
        text-justify: inter-word;
        line-height: 1.6;
        padding: 0 10px;
    }
    .btn-form{
        width: 30vw;
        height: 6vh;
        font-size: 1.2rem;
    }
}