.Main-content{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    color: #fff;
}
.Header-content{
    width: 94vw;
    height: 10vh;
    margin-left: 1.5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2vh;
    border-radius: 2vh;
    margin-top: 2vh;
    z-index: 200;
    position: fixed;
}
.Header-contentB{
    background: #6320EE;
    display: none;
    align-items: center;
    flex-direction: row;
    padding: 2vh;
    top: 0;
    position: sticky;
    z-index: 100;
}
.titleB-content{
    width: 50%;
}
.Menu-container{
    display: flex;
    justify-content: end;
    width: 50%;
}
.Menu-icon{
    height: 4vh;
}
.Header-content-two{
    width: 94vw;
    height: 10vh;
    margin-left: 1.5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2vh;
    border-radius: 2vh;
    margin-top: 2vh;
    z-index: 200;
    position: fixed;
    color: rgb(53, 53, 53);
    transition: color 1s ease;
}
@keyframes color-in {
    from{
        color: #fff;
    }
    to{
        color: rgb(53, 53, 53);
    }
}
.Header-content-scrolled{
    width: 94vw;
    height: 10vh;
    margin-left: 1.5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2vh;
    border-radius: 2vh;
    margin-top: 2vh;
    z-index: 200;
    backdrop-filter: blur(3px);
    animation: shadow-in 0.2s ease-out forwards;
    position: fixed;
}
.Header-content-scrolledTwo{
    width: 94vw;
    height: 10vh;
    margin-left: 1.5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2vh;
    border-radius: 2vh;
    margin-top: 2vh;
    z-index: 200;
    backdrop-filter: blur(3px);
    color: rgb(53, 53, 53);
    animation: shadow-in 0.2s ease-out forwards;
    position: fixed;
}
@keyframes shadow-in {
    from{
        box-shadow: none;
        background-color: transparent;
    }
    to{
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
        background-color: rgba(0, 0, 0, 0.2);
    }
}
#list-content{
    width: calc(100vw / 7);
    margin: 2vh;
    position: relative;
    font-weight: 700;
    cursor: pointer;
}
#list-contentM{
    margin: 2vh;
    position: relative;
    font-size: 2vh;
    font-weight: 900;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6vw;
    cursor: pointer;
}
.Title-content{
    width: calc(100vw / 6);
    margin: 2vh;
}
.Title{
    font-weight: 700;
}
.Body{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    background: #6320EE;
    box-sizing: border-box;
}
.Menu-containerD{
    display: none;
}
.Menu-containerDO{
    position: absolute;
    animation: expand 0.1s ease-in forwards;
    top: 1vh;
    right: 3%;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);
    box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.4);
    color: #fff;
    display: flex;
    flex-direction: column;
    padding-top: 4vh;
    box-sizing: border-box;
    border-radius: 2vh;
    z-index: 400;
}
@keyframes expand{
    from{
        height: 0vh;
        width: 0vw;
    }to{
        height: 40vh;
        width: 50vw;
    }
}
@media (max-width: 850px){
    .Header-content{
        display: none;
        background-color: black;
    }
    .Header-content-two{
        display: none;
    }
    .Header-content-scrolled{
        display: none;
    }
    .Header-content-scrolledTwo{
        display: none;
    }
    .Header-contentB{
        display: flex;
    }
}