.Main-container-dashboard{
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: row;
    color: #f2f1ff;
    background-color: #000028;
}
.Container-sidebar{
    background-color: #111c44;
    width: 14vw;
    height: 96vh;
    z-index: 100;
    position: fixed;
    border-radius: 2vh;
    margin-left: 1vw;
    margin-top: 2vh;
    box-sizing: border-box;
}
.Main-container-sidebar{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #000028;
    margin-left: 15vw;
    width: calc(100vw - 15vw);
}
.Side-components-container{
    width: 12vw;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-left: 2vw
}
.Select-component{
    height: 15vh;
    position: absolute;
    z-index: 10;
}
.Upper-select{
    height: 5vh;
    border-bottom-right-radius: 2vh;
}
.Medium-select{
    height: 5vh;
    border-top-left-radius: 2vh;
    border-bottom-left-radius: 2vh;
}
.Low-select{
    height: 5vh;
    border-top-right-radius: 2vh;
}
.Schedule-access{
    width: 12vw;
    height: 5vh;
    display: flex;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
}
.Schedule-icon{
    z-index: 11;
    height: 3vh;
    padding-left: 2.5vw;
    padding-right: 0.5vw;
}
.Schedule-text{
    z-index: 11;
    font-size: 2.7vh;
}
.Task-access{
    width: 12vw;
    height: 5vh;
    display: flex;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
}
.Task-icon{
    z-index: 11;
    height: 3vh;
    padding-left: 2.5vw;
    padding-right: 0.5vw;
}
.Task-text{
    z-index: 11;
    font-size: 2.7vh;
}
.Container-navbar{
    background-color: transparent;
    backdrop-filter: blur(10px);
    z-index: 100;
    margin-top: 4vh;
    margin-left: 1vh;
    margin-right: 2vh;
    display: flex;
    flex-direction: row;
    position: fixed;
    align-items: center;
    left: 15vw;
    height: 12vh;
    width: calc(100vw - 21vw);
    border-radius: 2vh;
}
.Container-navbar-scrolled{
    background-color: transparent;
    backdrop-filter: blur(10px);
    animation: shadow-in 0.2s ease-out forwards;
    z-index: 100;
    margin-top: 4vh;
    margin-left: 1vh;
    margin-right: 2vh;
    display: flex;
    flex-direction: row;
    position: fixed;
    align-items: center;
    left: 15vw;
    height: 12vh;
    width: calc(100vw - 21vw);
    border-radius: 2vh;
}
@keyframes shadow-in {
    from{
        box-shadow: none;
    }
    to{
        box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
    }
}
.Header-text-container{
    display: flex;
    flex-direction: column;
}
.Container-components{
    background-color: #000028;
    display: flex;
    height: 9vh;
    width: 64vw;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    margin-left: calc(100vw - 50vw);
    margin-right: 2vh;
    border-radius: 5vh;
    padding-left: 2vh;
    align-items: center;
    gap: 2vh;
}
.Icon-search{
    z-index: 101;
    position: absolute;
    margin-left: 2vh;
}
.Input-search{
    border: none;
    background-color: #111c44;
    height: 6vh;
    width: 14vw;
    border-radius: 3vh;
    padding-left: 7vh;
}
.Icon-ligth{
    cursor: pointer;
    transition: transform 0.3s ease;
}
.Icon-ligth:hover{
    transform: scale(1.12);
}
.Circle-user{
    background-color: #72729f;
    width: 6vh;
    height: 6vh;
    border-radius: 3vh;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}
.Circle-user:hover{
    transform: scale(1.1);
}
.Container-tools{
    background-color: #000028;
    height: calc(100vh - 15vh);
    overflow: auto;
    width: calc(100vw - 15vw);
    display: flex;
    flex-wrap: wrap;
    padding-top: 20vh;
    padding-left: 2vw;
    padding-right: 2vw;
}
.Name-container{
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Name-span{
    font-size: 6vh;
}